<h1> {{ user$.name }} </h1>

<ul>
  <li><strong>Username :</strong> {{ user$.name }} </li>
  <li><strong>Email:</strong> {{ user$.email }}</li>
</ul>

<div>
    <h2>CRUD CRUD CRUD</h2>
    <label>name:
      <input [(ngModel)]="user$.name" placeholder="name">
    </label>
    <label>email:
        <input [(ngModel)]="user$.email" placeholder="email">
      </label>
</div>
<button (click)="add(user$.name, user$.email)">Add</button>
<button (click)="update(user$.name, user$.email)">Update</button>
<button (click)="delete()">Delete</button>